body { background: #785e0d; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 48px; display: flex; }
.block-metrics-0 { color: #b7da9f; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #2bdf6f; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #4412cb; font-size: 14px; margin-bottom: 5px; }
.block-email-3 { color: #35ba5d; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #30d732; font-size: 19px; margin-bottom: 5px; }
.block-cluster-5 { color: #c4fe69; font-size: 21px; margin-bottom: 5px; }
.block-database-6 { color: #36c353; font-size: 20px; margin-bottom: 5px; }
.block-uploader-7 { color: #4c2828; font-size: 16px; margin-bottom: 5px; }